In [1]:
homicides_all = read.csv("data/homicide_suicide (outcome)/cdc_homicide_all.csv")
homicides_firearm = read.csv("data/homicide_suicide (outcome)/cdc_homicide_firearm.csv")
suicides_all = read.csv("data/homicide_suicide (outcome)/cdc_suicide_all.csv")
suicides_firearm = read.csv("data/homicide_suicide (outcome)/cdc_suicide_firearm.csv")

df = read.csv("data/matching-data.csv")

head(df)

  X state   year month total_pop young_males..15.34.yrs.
1 0 Alabama 1997 1     4367935   623964
2 1 Alabama 1997 2     4367935   623964
3 2 Alabama 1997 3     4367935   623964
4 3 Alabama 1997 4     4367935   623964
5 4 Alabama 1997 5     4367935   623964
6 5 Alabama 1997 6     4367935   623964
  ethanol_all_drinks_gallons_per_capita total_gdp..Millions.of.current.dollars.
1 1.82                                  104087.4
2 1.82                                  104087.4
3 1.82                                  104087.4
4 1.82                                  104087.4
5 1.82                                  104087.4
6 1.82                                  104087.4
  Urban.population.percentage gun_totals
1 NA                          NA
2 NA                          NA
3 NA                          NA
4 NA                          NA
5 NA                          NA
6 NA                          NA

In [14]:
aggregate(homicides_all$Deaths, by = list(State = homicides_all$State, Year = homicides_all$Year), FUN = sum)

    State                Year x
1   Alabama              1999  442
2   Alaska               1999   10
3   Arizona              1999  460
4   Arkansas             1999  180
5   California           1999 2059
6   Colorado             1999  200
7   Connecticut          1999   91
8   District of Columbia 1999  179
9   Florida              1999  963
10  Georgia              1999  635
11  Illinois             1999 1025
12  Indiana              1999  389
13  Kansas               1999  113
14  Kentucky             1999  212
15  Louisiana            1999  487
16  Maryland             1999  530
17  Massachusetts        1999   96
18  Michigan             1999  762
19  Minnesota            1999  106
20  Mississippi          1999  310
21  Missouri             1999  385
22  Nebraska             1999   12
23  Nevada               1999  152
24  New Jersey           1999  301
25  New Mexico           1999  160
26  New York             1999  963
27  North Carolina       1999  652
28  Ohio                 1999  454
29  Oklahoma             1999  232
30  Oregon               1999   53
⋮   ⋮                    ⋮    ⋮
651 Illinois             2016 1147
652 Indiana              2016  482
653 Iowa                 2016   36
654 Kansas               2016  133
655 Kentucky             2016  302
656 Louisiana            2016  640
657 Maryland             2016  573
658 Massachusetts        2016   94
659 Michigan             2016  621
660 Minnesota            2016   79
661 Mississippi          2016  345
662 Missouri             2016  570
663 Nebraska             2016   10
664 Nevada               2016  214
665 New Jersey           2016  393
666 New Mexico           2016  185
667 New York             2016  681
668 North Carolina       2016  732
669 Ohio                 2016  713
670 Oklahoma             2016  320
671 Oregon               2016   77
672 Pennsylvania         2016  715
673 South Carolina       2016  424
674 Tennessee            2016  563
675 Texas                2016 1656
676 Utah                 2016   38
677 Virginia             2016  453
678 Washington           2016  215
679 West Virginia        2016   65
680 Wisconsin            2016  248

In [11]:
alabama = homicides_all[homicides_all$State == "Alabama",]
tapply(alabama$Deaths, alabama$Year, sum)
#tapply(homicides_all$Deaths, homicides_all$State == "Alabama", sum)

ERROR while rich displaying an object: Error in dn[[2L]]: subscript out of bounds

Traceback:
1. FUN(X[[i]], ...)
2. tryCatch(withCallingHandlers({
 .     if (!mime %in% names(repr::mime2repr))
 .         stop("No repr_* for mimetype ", mime, " in repr::mime2repr")
 .     rpr <- repr::mime2repr[[mime]](obj)
 .     if (is.null(rpr))
 .         return(NULL)
 .     prepare_content(is.raw(rpr), rpr)
 . }, error = error_handler), error = outer_handler)
3. tryCatchList(expr, classes, parentenv, handlers)
4. tryCatchOne(expr, names, parentenv, handlers[[1L]])
5. doTryCatch(return(expr), name, parentenv, handler)
6. withCallingHandlers({
 .     if (!mime %in% names(repr::mime2repr))
 .         stop("No repr_* for mimetype ", mime, " in repr::mime2repr")
 .     rpr <- repr::mime2repr[[mime]](obj)
 .     if (is.null(rpr))
 .         return(NULL)
 .     prepare_content(is.raw(rpr), rpr)
 . }, error = error_handler)
7. repr::mime2repr[[mime]](obj)
8. repr_markdown.integer(obj)
9. repr_vector_generic(html_escape_names(obj), "%s. %s\n", "%s\n:   %s",
 .     "**%s:** %s", "%s\n\n", item_uses_numbers = TRUE, escape_fun = html_escape)
10. html_escape_names(obj)
11. .escape_names(obj, "html")
12. colnames(obj)
ERROR while rich displaying an object: Error in dn[[2L]]: subscript out of bounds

Traceback:
1. FUN(X[[i]], ...)
2. tryCatch(withCallingHandlers({
 .     if (!mime %in% names(repr::mime2repr))
 .         stop("No repr_* for mimetype ", mime, " in repr::mime2repr")
 .     rpr <- repr::mime2repr[[mime]](obj)
 .     if (is.null(rpr))
 .         return(NULL)
 .     prepare_content(is.raw(rpr), rpr)
 . }, error = error_handler), error = outer_handler)
3. tryCatchList(expr, classes, parentenv, handlers)
4. tryCatchOne(expr, names, parentenv, handlers[[1L]])
5. doTryCatch(return(expr), name, parentenv, handler)
6. withCallingHandlers({
 .     if (!mime %in% names(repr::mime2repr))
 .         stop("No repr_* for mimetype ", mime, " in repr::mime2repr")
 .     rpr <- repr::mime2repr[[mime]](obj)
 .     if (is.null(rpr))
 .         return(NULL)
 .     prepare_content(is.raw(rpr), rpr)
 . }, error = error_handler)
7. repr::mime2repr[[mime]](obj)
8. repr_latex.integer(obj)
9. repr_vector_generic(latex_escape_names(obj), "\\item %s\n", "\\item[%s] %s\n",
 .     "\\textbf{%s:} %s", enum_wrap = "\\begin{enumerate*}\n%s\\end{enumerate*}\n",
 .     named_wrap = "\\begin{description*}\n%s\\end{description*}\n",
 .     only_named_item = "\\textbf{%s:} %s", escape_fun = latex_escape)
10. latex_escape_names(obj)
11. .escape_names(obj, "latex")
12. colnames(obj)

1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014
 442  440  431  419  438  369  435  448  483  459  412  394  393  403  418  375
2015 2016
 472  547

In [6]:
homicides_all

     State     State.Code Year Year.Code Month      Month.Code Deaths
1    Alabama   1          1999 1999      Jan., 1999 1999/01    40
2    Alabama   1          1999 1999      Feb., 1999 1999/02    36
3    Alabama   1          1999 1999      Mar., 1999 1999/03    42
4    Alabama   1          1999 1999      Apr., 1999 1999/04    29
5    Alabama   1          1999 1999      May, 1999  1999/05    43
6    Alabama   1          1999 1999      Jun., 1999 1999/06    31
7    Alabama   1          1999 1999      Jul., 1999 1999/07    36
8    Alabama   1          1999 1999      Aug., 1999 1999/08    40
9    Alabama   1          1999 1999      Sep., 1999 1999/09    40
10   Alabama   1          1999 1999      Oct., 1999 1999/10    28
11   Alabama   1          1999 1999      Nov., 1999 1999/11    34
12   Alabama   1          1999 1999      Dec., 1999 1999/12    43
13   Alabama   1          2000 2000      Jan., 2000 2000/01    30
14   Alabama   1          2000 2000      Feb., 2000 2000/02    28
15   Alabama   1          2000 2000      Mar., 2000 2000/03    30
16   Alabama   1          2000 2000      Apr., 2000 2000/04    23
17   Alabama   1          2000 2000      May, 2000  2000/05    62
18   Alabama   1          2000 2000      Jun., 2000 2000/06    41
19   Alabama   1          2000 2000      Jul., 2000 2000/07    45
20   Alabama   1          2000 2000      Aug., 2000 2000/08    50
21   Alabama   1          2000 2000      Sep., 2000 2000/09    43
22   Alabama   1          2000 2000      Oct., 2000 2000/10    33
23   Alabama   1          2000 2000      Nov., 2000 2000/11    29
24   Alabama   1          2000 2000      Dec., 2000 2000/12    26
25   Alabama   1          2001 2001      Jan., 2001 2001/01    31
26   Alabama   1          2001 2001      Feb., 2001 2001/02    36
27   Alabama   1          2001 2001      Mar., 2001 2001/03    27
28   Alabama   1          2001 2001      Apr., 2001 2001/04    40
29   Alabama   1          2001 2001      May, 2001  2001/05    38
30   Alabama   1          2001 2001      Jun., 2001 2001/06    42
⋮    ⋮         ⋮          ⋮    ⋮         ⋮          ⋮          ⋮
6942 Wisconsin 55         2014 2014      Jun., 2014 2014/06    16
6943 Wisconsin 55         2014 2014      Jul., 2014 2014/07    13
6944 Wisconsin 55         2014 2014      Aug., 2014 2014/08    22
6945 Wisconsin 55         2014 2014      Sep., 2014 2014/09    10
6946 Wisconsin 55         2014 2014      Oct., 2014 2014/10    14
6947 Wisconsin 55         2014 2014      Nov., 2014 2014/11    10
6948 Wisconsin 55         2014 2014      Dec., 2014 2014/12    13
6949 Wisconsin 55         2015 2015      Jan., 2015 2015/01    19
6950 Wisconsin 55         2015 2015      Feb., 2015 2015/02    15
6951 Wisconsin 55         2015 2015      Mar., 2015 2015/03    25
6952 Wisconsin 55         2015 2015      Apr., 2015 2015/04    21
6953 Wisconsin 55         2015 2015      May, 2015  2015/05    22
6954 Wisconsin 55         2015 2015      Jun., 2015 2015/06    20
6955 Wisconsin 55         2015 2015      Jul., 2015 2015/07    26
6956 Wisconsin 55         2015 2015      Aug., 2015 2015/08    16
6957 Wisconsin 55         2015 2015      Sep., 2015 2015/09    19
6958 Wisconsin 55         2015 2015      Oct., 2015 2015/10    20
6959 Wisconsin 55         2015 2015      Nov., 2015 2015/11    19
6960 Wisconsin 55         2015 2015      Dec., 2015 2015/12    15
6961 Wisconsin 55         2016 2016      Jan., 2016 2016/01    17
6962 Wisconsin 55         2016 2016      Feb., 2016 2016/02    12
6963 Wisconsin 55         2016 2016      Mar., 2016 2016/03    26
6964 Wisconsin 55         2016 2016      Apr., 2016 2016/04    27
6965 Wisconsin 55         2016 2016      May, 2016  2016/05    20
6966 Wisconsin 55         2016 2016      Jun., 2016 2016/06    18
6967 Wisconsin 55         2016 2016      Jul., 2016 2016/07    25
6968 Wisconsin 55         2016 2016      Aug., 2016 2016/08    28
6969 Wisconsin 55         2016 2016      Sep., 2016 2016/09    21
6970 Wisconsin 55         2016 2016      Oct., 2016 2016/10    28
6971 Wisconsin 55         2016 2016      Dec., 2016 2016/12    26

In [2]:
df

      X     state         year month total_pop young_males..15.34.yrs.
1      0    Alabama       1997  1    4367935   623964
2      1    Alabama       1997  2    4367935   623964
3      2    Alabama       1997  3    4367935   623964
4      3    Alabama       1997  4    4367935   623964
5      4    Alabama       1997  5    4367935   623964
6      5    Alabama       1997  6    4367935   623964
7      6    Alabama       1997  7    4367935   623964
8      7    Alabama       1997  8    4367935   623964
9      8    Alabama       1997  9    4367935   623964
10     9    Alabama       1997 10    4367935   623964
11    10    Alabama       1997 11    4367935   623964
12    11    Alabama       1997 12    4367935   623964
13    12    Alaska        1997  1     612968    93769
14    13    Alaska        1997  2     612968    93769
15    14    Alaska        1997  3     612968    93769
16    15    Alaska        1997  4     612968    93769
17    16    Alaska        1997  5     612968    93769
18    17    Alaska        1997  6     612968    93769
19    18    Alaska        1997  7     612968    93769
20    19    Alaska        1997  8     612968    93769
21    20    Alaska        1997  9     612968    93769
22    21    Alaska        1997 10     612968    93769
23    22    Alaska        1997 11     612968    93769
24    23    Alaska        1997 12     612968    93769
25    24    Arizona       1997  1    4736990   725687
26    25    Arizona       1997  2    4736990   725687
27    26    Arizona       1997  3    4736990   725687
28    27    Arizona       1997  4    4736990   725687
29    28    Arizona       1997  5    4736990   725687
30    29    Arizona       1997  6    4736990   725687
⋮     ⋮     ⋮             ⋮    ⋮     ⋮         ⋮
10987 10986 West Virginia 2014  7    1850326   219972
10988 10987 West Virginia 2014  8    1850326   219972
10989 10988 West Virginia 2014  9    1850326   219972
10990 10989 West Virginia 2014 10    1850326   219972
10991 10990 West Virginia 2014 11    1850326   219972
10992 10991 West Virginia 2014 12    1850326   219972
10993 10992 Wisconsin     2014  1    5757564   727916
10994 10993 Wisconsin     2014  2    5757564   727916
10995 10994 Wisconsin     2014  3    5757564   727916
10996 10995 Wisconsin     2014  4    5757564   727916
10997 10996 Wisconsin     2014  5    5757564   727916
10998 10997 Wisconsin     2014  6    5757564   727916
10999 10998 Wisconsin     2014  7    5757564   727916
11000 10999 Wisconsin     2014  8    5757564   727916
11001 11000 Wisconsin     2014  9    5757564   727916
11002 11001 Wisconsin     2014 10    5757564   727916
11003 11002 Wisconsin     2014 11    5757564   727916
11004 11003 Wisconsin     2014 12    5757564   727916
11005 11004 Wyoming       2014  1     584153    80379
11006 11005 Wyoming       2014  2     584153    80379
11007 11006 Wyoming       2014  3     584153    80379
11008 11007 Wyoming       2014  4     584153    80379
11009 11008 Wyoming       2014  5     584153    80379
11010 11009 Wyoming       2014  6     584153    80379
11011 11010 Wyoming       2014  7     584153    80379
11012 11011 Wyoming       2014  8     584153    80379
11013 11012 Wyoming       2014  9     584153    80379
11014 11013 Wyoming       2014 10     584153    80379
11015 11014 Wyoming       2014 11     584153    80379
11016 11015 Wyoming       2014 12     584153    80379
      ethanol_all_drinks_gallons_per_capita
1     1.82
2     1.82
3     1.82
4     1.82
5     1.82
6     1.82
7     1.82
8     1.82
9     1.82
10    1.82
11    1.82
12    1.82
13    2.56
14    2.56
15    2.56
16    2.56
17    2.56
18    2.56
19    2.56
20    2.56
21    2.56
22    2.56
23    2.56
24    2.56
25    2.44
26    2.44
27    2.44
28    2.44
29    2.44
30    2.44
⋮     ⋮
10987 1.78
10988 1.78
10989 1.78
10990 1.78
10991 1.78
10992 1.78
10993 2.97
10994 2.97
10995 2.97
10996 2.97
10997 2.97
10998 2.97
10999 2.97
11000 2.97
11001 2.97
11002 2.97
11003 2.97
11004 2.97
11005 2.72
11006 2.72
11007 2.72
11008 2.72
11009 2.72
11010 2.72
11011 2.72
11012 2.72
11013 2.72
11014 2.72
11015 2.72
11016 2.72
      total_gdp..Millions.of.current.dollars. Urban.population.percentage
1     104087.4                                NA
2     104087.4                                NA
3     104087.4                                NA
4     104087.4                                NA
5     104087.4                                NA
6     104087.4                                NA
7     104087.4                                NA
8     104087.4                                NA
9     104087.4                                NA
10    104087.4                                NA
11    104087.4                                NA
12    104087.4                                NA
13     25744.8                                NA
14     25744.8                                NA
15     25744.8                                NA
16     25744.8                                NA
17     25744.8                                NA
18     25744.8                                NA
19     25744.8                                NA
20     25744.8                                NA
21     25744.8                                NA
22     25744.8                                NA
23     25744.8                                NA
24     25744.8                                NA
25    132418.0                                NA
26    132418.0                                NA
27    132418.0                                NA
28    132418.0                                NA
29    132418.0                                NA
30    132418.0                                NA
⋮     ⋮                                       ⋮
10987  72027.1                                NA
10988  72027.1                                NA
10989  72027.1                                NA
10990  72027.1                                NA
10991  72027.1                                NA
10992  72027.1                                NA
10993 293519.4                                NA
10994 293519.4                                NA
10995 293519.4                                NA
10996 293519.4                                NA
10997 293519.4                                NA
10998 293519.4                                NA
10999 293519.4                                NA
11000 293519.4                                NA
11001 293519.4                                NA
11002 293519.4                                NA
11003 293519.4                                NA
11004 293519.4                                NA
11005  39372.3                                NA
11006  39372.3                                NA
11007  39372.3                                NA
11008  39372.3                                NA
11009  39372.3                                NA
11010  39372.3                                NA
11011  39372.3                                NA
11012  39372.3                                NA
11013  39372.3                                NA
11014  39372.3                                NA
11015  39372.3                                NA
11016  39372.3                                NA
      gun_totals
1     NA
2     NA
3     NA
4     NA
5     NA
6     NA
7     NA
8     NA
9     NA
10    NA
11    NA
12    NA
13    NA
14    NA
15    NA
16    NA
17    NA
18    NA
19    NA
20    NA
21    NA
22    NA
23    NA
24    NA
25    NA
26    NA
27    NA
28    NA
29    NA
30    NA
⋮     ⋮
10987 13298
10988 15799
10989 16952
10990 20922
10991 24050
10992 26935
10993 23568
10994 31698
10995 37199
10996 32375
10997 22493
10998 19302
10999 19541
11000 24467
11001 27754
11002 33262
11003 31027
11004 31622
11005  4359
11006  5677
11007  5699
11008  5508
11009  5187
11010  4644
11011  4205
11012  4637
11013  5296
11014  5421
11015  5399
11016  7031